.card {
  width: 70%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 20px;
  margin: auto;
}

.text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  justify-content: center;
  margin: 10px 20px;
  height: 100%;
}

.text-area p {
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* @media (max-height:800px) {
  .card img{
    height: 500vh;
  }
} */
.participate img {
  width: 20px;
  height: 20px;
}

.card p {
  margin: 0;
}

.participate {
  width: 70%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.state {
  background-color: #f2c94c40;
  padding: 2px 15px;
  color: black;
}

@media (max-height:600px) {
  .card{
    height: 85vh;
  }
}

@media (max-width:385px) {
  .participate p{
    font-size: 12px;
  }
}
@media (max-width:320px) {
  .participate p{
    font-size: 9px;
  }
}