.search {
  background-color: #002a3b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  gap: 30px;
  margin-top: 10px;
}

.search input {
  height: 50px;
  width: 60%;
  border-radius: 12px;
  padding-left: 10px;
  border: none;
}

.header {
  font-weight: 600;
  font-size: 30px;
}

.arrow-icon {
  width: 10px;
  height: 10px;
}

.filter-btn {
  height: 50px;
  width: 110px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.filter-btn img {
  width: 20px;
  height: 20px;
}

.search-second {
  display: flex;
  gap: 50px;
  width: 100%;
  justify-content: center;
  position: relative;
}

.filter {
  position: absolute;
  top: 45px;
  right: 129px;
  z-index: 100;
  color: black;
  background-color: white;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px;
}
.rotate {
  transform: rotate(180deg);
  transition: 0.3s;
}
.active-filter {
  width: 300px;
}
.filter input {
  width: 20px;
  height: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
  gap: 10px;
}
.menu-item p {
  margin: 0;
}
.filter1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.filter p {
  color: #666666;
}
.applied-filter {
  display: flex;
  gap: 40px;
  width: 70%;
}
.applied-filter-inner {
  background-color: #f8f9fd7d;
  padding: 5px 10px;
  border-radius: 30px;
}

@media (max-width: 500px) {
  .search .header{
    padding: 20px 50px;
  }
  .search-second{
    gap: 20px;
  }
}
@media (max-width: 400px) {
  .search .header{
    padding: 20px 20px;
  }
}
