.Achievements {
  width: 100%;
  height: 25vh;
  background-color: #002a3b;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  border: 1px solid #c4c4c4;
  transform: rotate(90deg);
  width: 45px;
}

.box2 img {
  border-radius: 10px;
}

.Achievements div p {
  color: white;
  margin: 0;
}
.Achievements div img {
  width: 55px;
  height: 55px;
}
.Achievements .box {
  display: flex;
  gap: 30px;
}

.Achievements div div {
  display: flex;
  flex-direction: column;
}
.box {
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  .Achievements .box {
    gap: 10px;
  }
}
@media (max-width: 500px) {
  .Achievements .box {
    gap: 5px;
  }
  .Achievements hr {
    width: 30px;
  }
  .Achievements div img {
    width: 40px;
    height: 40px;
  }
  .Achievements p {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .Achievements p {
    font-size: 10px;
  }
}
