.navbar img{
    width: 87px;
    height: 38.11px;
}

.navbar{
    padding: 10px 80px;
    height: 64px;
    display: flex;
    align-items: center;
}
.navbar li{
    list-style: none;
    cursor: pointer;
    font-size: 20px;
}
.navbar ul{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    margin: 0;
}
.navbar li:hover{
    color: brown;
}
@media (max-width:950px) {
    .navbar img{
        width: 70px;
        height: 38.11px;
    }
    .navbar{
        padding: 10px 30px;
    }
    .navbar ul{
        gap: 20px;
        padding: 0;
    }
    .navbar ul li{
        font-size: 15px;
    }
    .primebtn{
        padding: 0px;
        width: 150px;
    }
    .primebtn p{
        font-size: 8px;
    }
    .last-section{
        gap: 30px;
    }
}
@media (max-width:700px) {
    .navbar ul li{
        font-size: 8px;
    }
    .navbar ul{
        gap: 10px;
    }
}
@media (max-width:490px) {
    .navbar{
        padding: 10px 5px;
    }
    .last-section{
        gap: 5px;
    }
    .navbar img{
        width: 40px;
    }
    .primebtn{
        width: 120px;
        font-size: 10px;
    }
}
@media (max-width:360px){
    .navbar{
        padding: 0px;
    }
    .primebtn{
        width: 120px;
        font-size: 8px;
    }
    .navbar ul{
        gap: 5px;
    }
}
